body {
    margin: 0;
    padding: 0;
    background: #000;
}

p {
    font-size: 12px;
    line-height: 8px;
    text-align: justify;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(Messenger_creation_2B1583AE-98F5-492F-AA42-D4312F034567.jpeg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(225, 225, 255, 0);
}
